Let's look how the ratings are distributed!

In [1]:
import pandas as pd
ratings = pd.read_csv('./movielens/ratings.csv')
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [2]:
#Analize only one column
ratings['rating'].describe().round(decimals = 3)

count    100836.000
mean          3.502
std           1.043
min           0.500
25%           3.000
50%           3.500
75%           4.000
max           5.000
Name: rating, dtype: float64

In [3]:
ratings.describe().round(2)  # Two digit after point

          userId    movieId     rating     timestamp
count  100836.00  100836.00  100836.00  1.008360e+05
mean      326.13   19435.30       3.50  1.205946e+09
std       182.62   35530.99       1.04  2.162610e+08
min         1.00       1.00       0.50  8.281246e+08
25%       177.00    1199.00       3.00  1.019124e+09
50%       325.00    2991.00       3.50  1.186087e+09
75%       477.00    8122.00       4.00  1.435994e+09
max       610.00  193609.00       5.00  1.537799e+09

In [4]:
#Mean of a column
ratings['rating'].mean()

3.501556983616962

In [5]:
ratings['rating'].min()

0.5

In [6]:
ratings['rating'].max()

5.0

In [7]:
# Standard daviation
ratings['rating'].std()

1.0425292390605359

In [8]:
ratings['rating'].mode()

0    4.0
dtype: float64

In [9]:
type(ratings['rating'])

pandas.core.series.Series

In [10]:
## correlation matrix
ratings.corr()

             userId   movieId    rating  timestamp
userId     1.000000  0.006773 -0.049348   0.097151
movieId    0.006773  1.000000 -0.004061   0.503669
rating    -0.049348 -0.004061  1.000000  -0.005802
timestamp  0.097151  0.503669 -0.005802   1.000000

In [11]:
## create filter (and check it):
filter_1 = ratings['rating'] > 5
print(filter_1.head())
filter_1.any()

0    False
1    False
2    False
3    False
4    False
Name: rating, dtype: bool

False

In [12]:
filter_2 = ratings['rating'] > 0
filter_2.all()

True