# Data Structure 
**Series**

In [1]:
!ls ./movielens

csv.txt  links.csv  movies.csv	ratings.csv  tags.csv

In [2]:
import pandas as pd

tags = pd.read_csv('./movielens/tags.csv')

# Extract 0th row: notice that it is infact a series

row_0 = tags.iloc[0]  # For one row use single [] bracket.

print(row_0)

type(row_0)

userId                2
movieId           60756
tag               funny
timestamp    1445714994
Name: 0, dtype: object

pandas.core.series.Series

In [3]:
row_0.index

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [4]:
row_0['userId']

2

In [5]:
'Rating' in row_0

False

# Data Frame

In [6]:
tags.head(10)

   userId  movieId                tag   timestamp
0       2    60756              funny  1445714994
1       2    60756    Highly quotable  1445714996
2       2    60756       will ferrell  1445714992
3       2    89774       Boxing story  1445715207
4       2    89774                MMA  1445715200
5       2    89774          Tom Hardy  1445715205
6       2   106782              drugs  1445715054
7       2   106782  Leonardo DiCaprio  1445715051
8       2   106782    Martin Scorsese  1445715056
9       7    48516       way too long  1169687325

In [7]:
tags.index

RangeIndex(start=0, stop=3683, step=1)

In [8]:
# Extract row 0,11,1000 from dataframe

tags.iloc[[0,11,1000]]   # For multiple rows we need to use double

      userId  movieId       tag   timestamp
0          2    60756     funny  1445714994
11        18      431  gangster  1462138749
1000     474       31   teacher  1137375502